<p>Let's start at the very beginning. Imagine a simple hello world program. There is an <em>entry point</em> (either a main function or the start of your file), then the code that prints "Hello, World!", and then your program calls whatever <code>exit</code> function exists in the language you're using. Pretty much every modern programming language automatically calls this <code>exit</code> function when there is no more code to execute, so we don't have to do this step manually.</p>
<p>That's pretty much it. Execution starts at the program's entry point, then works its way down the file line by line until it runs out of code or is told to exit. This is how normal <em>synchronous</em> code works. It's easy, predictable, and behaves exactly the same way every time. But to understand why software normally works this way, we need to take a look at the hardware.</p>
