<p>Operating systems are extremely complex, so I will oversimplify details that aren't relevant to us right now. I will still try my best to remain accurate, but don't take any of these statements about how operating systems work as fact. With that out of the way, let's dig into the important parts of the operating system.</p>
<p>The first and most important part of the operating system is a special program called the <em><a href="https://en.wikipedia.org/wiki/Kernel_(operating_system)" target="_blank">kernel</a></em>. The kernel is the brain of the operating system, and is at the core of everything that happens on a machine, including multitasking. But how does an operating system do multitasking exactly?</p>
