<p>In 2001, IBM created a CPU called the <a href="https://en.wikipedia.org/wiki/POWER4" target="_blank">Power4</a>. This CPU was the first <em>multi-core CPU</em>, but what does that mean? Well, think back to the von Neumann architecture. Rather than an entire <em>CPU</em> being the execution engine, a <em>CPU core</em> is now the execution engine, and a CPU can have multiple CPU cores. These CPU cores operate completely independently from each other, which means that multiple different programs can actually be executing at the same exact moment in time on a single CPU!</p>
<p>To reiterate, rather than 1 CPU = 1 execution engine, now 1 CPU core = 1 execution engine.</p>
