<p><strong>Published on <time datetime="2024-06-22">June 22nd, 2024</time></strong></p>
<p><q>"The quieter you become, the more you are able to hear"</q> - <a href="https://en.wikipedia.org/wiki/BackTrack" target="_blank">Backtrack</a>/<a href="https://www.kali.org/" target="_blank">Kali Linux</a> Wallpaper</p>
<p>Ok I already lied, the quote is actually from some guy I've never heard of before named <a href="https://en.wikipedia.org/wiki/Ram_Dass" target="_blank">Ram Dass</a>, but how many of you actually knew that? I didn't. But let's move on.</p>
<p>For those who may not be aware, <a href="https://leetcode.com/" target="_blank">Leetcode</a> is a website focused around solving programming problems that involve <em>data structures</em> and <em>algorithms</em> (DSA), and often times have <em>time complexity</em> or <em>space complexity</em> requirements (<code>O(1)</code>, <code>O(log(n))</code>, <code>O(n)</code>, etc). Leetcode is also often used by employers to judge competency for high paying programming jobs.</p>
<p>Now let's see what programmers say about Leetcode:</p>
<ul>
	<li><q>"I solved X questions on Leetcode and it was a waste of time"</q> - Programmer who solved X questions on Leetcode</li>
	<li><q>"Learning DSA won't make you a better programmer"</q> - Programmer who isn't good at DSA</li>
	<li><q>"I HATE LEETCODE!!!!!!!!!!!!!!!!!"</q> - Almost every programmer</li>
</ul>
<p>Or my personal favorite:</p>
<ul>
	<li><q>"Interviewers don't even ask you stuff like sorting algorithms in an interview, so why are you spending 8 hours writing quick sort? Dude just use the language's built in sort function"</q> - Programmers watching me skill issue in Python while grinding Leetcode</li>
</ul>
<p>This rant isn't to put any of these people on blast, but to explain why this well-intentioned advice is harmful, and to explain the value of skill issuing for hours on Leetcode. There is so much more to Leetcode than grinding for a couple of weeks and then getting that high paying software engineering job at X popular company. Wait shit X is a real company now. Uh, Y popular company.</p>
<h2 id="you-spent-8-hours-writing-quicksort">You Spent 8 Hours Writing Quicksort?</h2>
<p>Yes I did, and I'm still not done. <q>"That's such a waste of time, you're an idiot."</q> Let me explain why it's not a waste of time.</p>
<p>I was doing random Leetcode questions, and I got <a href="https://leetcode.com/problems/maximize-happiness-of-selected-children/description/" target="_blank">Leetcode Question 3075. Maximize Happiness of Selected Children</a>. If you want to give it a try, go ahead now before I get into how to solve it.</p>
<p><strong>This page was intentionally left blank.</strong></p>
<p><strong>This page was also intentionally left blank.</strong></p>
<p>Ok that's enough. If you get spoiled now it's your own damn fault.</p>
<p>The obvious solution is to sort the array in descending order, then sum the first <code>k</code> items from the array subtracting the index from each value as you add it to the sum. Why is this a Leetcode medium? This is pretty easy. Well, since Leetcode is all about DSA, I assume you're supposed to write your own sorting algorithm rather than use the language's built in sort, so that's exactly what I did.</p>
<p>I dabbled in DSA briefly a few months ago, and unfortunately much of it didn't stick. But I did remember that merge sort was a cool sorting algorithm. I take a look at the <a href="https://en.wikipedia.org/wiki/Merge_sort" target="_blank">Wikipedia article</a> to remember how it works, and... It looks a bit intense. I remember there's an easier sorting algorithm, what's that sorting algorithm that <a href="https://www.youtube.com/@ThePrimeTimeagen" target="_blank">The Primeagen</a> likes... It's really easy to implement... It's fast... It's something with a pivot... QUICKSORT!</p>
<p>Ok let me look up the <a href="https://en.wikipedia.org/wiki/Quicksort" target="-blank">Wikipedia article</a> on quicksort and... Ok it's a divide and conquer strategy. I've learned this before and I've written it before, but the suggested implementation looks completely foreign to me. Surely an example of a simple implementation has to be out there somewhere. Even though it's not a good resource, let me try <a href="https://www.geeksforgeeks.org/quick-sort/" target="_blank">Geeks for Geeks</a>. Hmm, this implementation doesn't look familiar either... At this point, a great hero took pity on me and showed me a quick and dirty implementation of quicksort to demonstrate how it works, something along the lines of:</p>
<blockquote class="codeblock" data-language="pseudocode">
	<div><span data-type="keyword">function</span> <span data-type="identifier">quicksort</span>(arr){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">arr</span>.length &lt; <span data-type="constant">2</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="identifier">arr</span>;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">pivot</span> = <span data-type="identifier">random_array_element</span>(<span data-type="identifier">arr</span>);</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">start</span> = [];</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">middle</span> = [];</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">end</span> = [];</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">for</span>(<span data-type="keyword">let</span> <span data-type="identifier">i</span> = 0; <span data-type="identifier">i</span> &lt; <span data-type="identifier">arr</span>.length; <span data-type="identifier">i</span>++){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">arr</span>[<span data-type="identifier">i</span>] &lt; <span data-type="identifier">pivot</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">start</span>[] = <span data-type="identifier">arr</span>[<span data-type="identifier">i</span>]</span>;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">for</span>(<span data-type="keyword">let</span> <span data-type="identifier">i</span> = 0; <span data-type="identifier">i</span> &lt; <span data-type="identifier">arr</span>.length; <span data-type="identifier">i</span>++){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">arr</span>[<span data-type="identifier">i</span>] == <span data-type="identifier">pivot</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">middle</span>[] = <span data-type="identifier">arr</span>[<span data-type="identifier">i</span>]</span>;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">for</span>(<span data-type="keyword">let</span> <span data-type="identifier">i</span> = 0; <span data-type="identifier">i</span> &lt; <span data-type="identifier">arr</span>.length; <span data-type="identifier">i</span>++){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">arr</span>[<span data-type="identifier">i</span>] &gt; <span data-type="identifier">pivot</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">end</span>[] = <span data-type="identifier">arr</span>[<span data-type="identifier">i</span>]</span>;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="identifier">quicksort</span>(<span data-type="identifier">start</span>) + <span data-type="identifier">middle</span> + <span data-type="identifier">quicksort</span>(<span data-type="identifier">end</span>);</div>
	<div>}</div>
</blockquote>
<p>This still doesn't look familiar to me at all, but the hero of this story slammed out 3 Leetcode mediums in 20 minutes while I was staring blankly at Geeks for Geeks, so I'm pretty confident he knows how quicksort works. Looking back now, I was confusing the implementation of quicksort with binary search, and I was trying to find an algorithm that didn't exist. Thanks me.</p>
<p>Anyway. this implementation is obviously quite inefficient, but it's a great demonstration of the concept. You put all of the stuff less than the pivot on the left, all of the stuff equal to the pivot in the middle, and all of the stuff greater than the pivot on the right, and then recur the algorithm on the left and right sides of the pivot values.</p>
<p>The reason this implementation is inefficient is because we're declaring a bunch of new arrays and copying data all over the place. I'm a C programmer at heart. Copying memory hurts my soul, so let's figure out an alternative implementation that modifies the array <a href="https://en.wikipedia.org/wiki/In-place_algorithm" target="_blank">in-place</a>. I remember that some sorting algorithms like bubble sort work by swapping elements around the array in-place, so surely other sorting algorithms can be implemented in the same way. After skill issuing for a few more hours, I remembered that Primeagen has a <a href="https://frontendmasters.com/courses/algorithms/" target="_blank">Free DSA Course</a> (just make an account on the website, not sponsored btw).</p>
<p>After reviewing Prime's approach and changing it to work iteratively, I came up with the following implementation:</p>
<blockquote class="codeblock" data-language="pseudocode">
	<div><span data-type="keyword">let</span> <span data-type="identifier">arr</span> = [<span data-type="comment">/* random numbers */</span>];</div>
	<div><span data-type="keyword">let</span> <span data-type="identifier">stack</span> = [[<span data-type="constant">0</span>, <span data-type="identifier">arr</span>.length - <span data-type="constnat">1</span>]];</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">while</span>(<span data-type="identifier">stack</span>.length &gt; <span data-type="constant">0</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="comment">// This is called <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment" target="_blank">destructuring</a> btw</span></div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">low</span>, <span data-type="identifier">high</span> = <span data-type="identifier">arr</span>.shift();</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">pivot</span> = <span data-type="identifier">arr</span>[<span data-type="identifier">high</span>];</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">swap_index</span> = <span data-type="identifier">low</span> - <span data-type="constant">1</span>;</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">for</span>(<span data-type="keyword">let</span> <span data-type="identifier">i</span> = <span data-type="identifier">low</span>; <span data-type="identifier">i</span> &lt;= <span data-type="identifier">high</span>; <span data-type="identifier">i</span>++){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">arr</span>[<span data-type="identifier">i</span>] &lt;= <span data-type="identifier">pivot</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">swap_index</span>++;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">swap</span>(<span data-type="identifier">arr</span>[<span data-type="identifier">swap_index</span>], <span data-type="identifier">arr</span>[<span data-type="identifier">i</span>]);</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">swap_index</span> - <span data-type="constant">1</span> &gt; <span data-type="identifier">low</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">stack</span>[] = [<span data-type="identifier">low</span>, <span data-type="identifier">swap_index</span> - <span data-type="constant">1</span>];</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">high</span> &gt; <span data-type="identifier">swap_index</span> + <span data-type="constant">1</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">stack</span>[] = [<span data-type="identifier">swap_index</span> + <span data-type="constant">1</span>, <span data-type="identifier">high</span>];</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
	<div>}</div>
</blockquote>
<p>Take a minute to read through this and understand how it works. This approach should be pretty performant despite my Python skill issues. Maybe numpy would make it fast. I don't know. I don't like Python so I don't care. Sorry, not sorry. After skill issuing for a bit, I clicked the submit button and hoped that I'd finally get a solve on this problem after <em>8 hours</em>.</p>
<p><img src="{ROOT}static/images/rants_i-spent-8-hours-writing-quicksort-on-leetcode/time-limit-exceeded.png" alt="Leetcode - Time Limit Exceeded" title="Leetcode - Time Limit Exceeded"></p>
<p>I'm skill issued with Python, and Python is very slow, but this shouldn't be timing out with a sorting algorithm that runs in <code>O(n log(n))</code>. What's going on?</p>
<p>Well, remember that quicksort is <code>O(n log(n))</code> only in the <em>average</em> case. In the worst case, quicksort is <code>O(n^2)</code>. After doing a little bit of testing, I'm pretty confident that my implementation is running closer to <code>O(n^2)</code> instead of <code>O(n log(n))</code>.</p>
<p>The hero suggested that I add an optimization by grouping all of the elements equal to the pivot into a "middle" partition so that all elements equal to the pivot are handled in one step, but after thinking on this for a while I decided that there was more to the story that I wanted to investigate.</p>
<h2 id="understanding-the-implementations-time-complexity">Understanding The Implementation's Time Complexity</h2>
<p>The way quicksort works is by grabbing an arbitrary pivot, and then you partition everything smaller than the pivot on the left and everything larger than the pivot on the right, then you quicksort the left and right partitions repeatedly until the array becomes sorted. This is obviously a divide and conquer approach.</p>
<p>But what if quicksort didn't divide the array? What scenarios would cause this to happen? Well, the pivot gets removed from the input array every recursion step, but quicksort would still go through the <code>n</code> length array (minus 1 for every step) <code>n</code> times, which is <code>O(n^2)</code>. Thinking about it, this is exactly what's happening with my implementation when the entire array is 1, but what other scenarios would cause this behavior?</p>
<p>Well, my implementation picks the last element as the pivot every time. If every number to the left of the pivot is already smaller than the pivot, then the pivot is removed and the remaining array is passed to the next iteration of the loop as the left partition. In the next iteration of the loop, the implementation picks the last element as the pivot. If every number to the left of the pivot is again smaller than the pivot... Wait... The array is already sorted! Logically, this would also happen if the array was sorted in reverse.</p>
<p>Applying this logic in the opposite direction, what's the best case scenario? Well, if the worst case scenario is having everything in only one partition and the other partition is completely empty, then the best case scenario should be both partitions hold (as close as possible to) half of the remaining elements. The first iteration would go over <code>n</code> elements from the array, the second iteration would go over <code>((n - 1) / 2)</code> twice, the third iteration would go over <code>((n - 3) / 4)</code> four times... so on until the last iteration <code>i</code>, which goes over <code>((n - (n/2)) / 2^i)</code> elements in the array <code>2^i</code> times.</p>
<p>In the above equation for calculating the number of remaining elements in the array at each recursion step, the <code>n/2</code> and <code>2^i</code> represent constants, and time complexity doesn't care about constants, so we remove them. That leaves us with <code>n</code>, but we use <code>n</code> a total of <code>2^i</code> times. We know that <code>2^i</code> has to be as close as possible to <code>n</code> because you can't divide an array of <code>n</code> elements by more than <code>n</code>, so the <code>i</code> in <code>2^i</code> has to be <code>log(n)</code>.</p>
<p>Iterating over <code>n</code> elements <code>log(n)</code> times is <code>n log(n)</code>. We know that the best case for quicksort is <code>O(n log(n))</code>, so this makes sense.</p>
<p>Finally, now that we know the best and worst case scenarios, what does the average case look like? For my implementation, it depends on how sorted the input array is. The more sorted the input array is, the closer the time complexity will be to <code>n^2</code>. The more unsorted the input array is, the closer the time complexity will be to <code>n log(n)</code>. Assuming the input array is completely random, how likely is it that the array will be sorted? Well, it depends. An array that is 100% duplicates will always be sorted because an array full of the same number can't not be sorted. An array that has no duplicates has a <em>1 in <code>n!</code> (<a href="https://en.wikipedia.org/wiki/Factorial" target="_blank">factorial</a>)</em> chance of being already sorted. At the numbers where <code>n^2</code> matters, <code>n!</code> is <em>astronomically</em> unlikely.</p>
<p>So to summarize, the best case for qucksort is <code>n log(n)</code>, the worst case is <code>n^2</code>, and the average case depends on how well the implementation chooses a pivot that divides the array. For my specific implementation, arrays that are closer to sorted will be closer to the worst case <code>n^2</code>, and duplicates increase the "already sorted"ness of the input array. The less sorted the input array is, the closer my implementation runs to the best case <code>n log(n)</code>.</p>
<h2 id="ok-but-whats-the-point-of-this">Ok, But What's The Point Of This?</h2>
<p>The point is that before I spent 8 hours writing quicksort, I didn't know about any of this. Some of these insights might seem obvious, but they have massive implications that would be very easy to overlook in real world scenarios. To name a few:</p>
<ul>
	<li>The implementation of Quicksort I used is actually perfectly fine when the input array is unlikely to be sorted.</li>
	<li>If you have information about how your input data may arranged, quicksort will run close to best case if you can consistently choose a pivot that will divide the array.</li>
	<li>If your quicksort implementation chooses a pivot at random, it should run reasonably close to best case the overwhelming majority of the time.</li>
	<li>Divide and conquer strategies in general require good dividing, so any divide and conquer strategy with a dynamic way to partition data needs to be very smart about how the input is divided.</li>
	<li>Divide and conquer algorithms work well with multithreading (read <a href="{ROOT}rants/stop-doing-data-synchronization/" target="_blank">this rant</a>), so quicksort is a potential choice for multithreaded environments.</li>
</ul>
<p>If I didn't spend 8 hours writing quicksort in Python for this Leetcode problem, I wouldn't have figured all of this out.</p>
<h2 id="but-why-did-you-need-to-figure-all-of-this-out">But Why Did You Need To Figure All Of This Out?</h2>
<p>Well, there are many reasons. The first and foremost reason is that I did something called <em>learning</em>, and learning doesn't seem popular among software developers for some reason. There is a lot of money in the industry, and that's not a bad thing at all, but if we want to call ourselves <em>software engineers</em> we need to prioritize <em>engineering</em> in our decision making. Do you know what happens to real engineers who prioritize money and laziness over engineering and learning? They <a href="https://en.wikipedia.org/wiki/Engineering_disasters" target="_blank">fucking die</a>, and <a href="https://www.youtube.com/watch?v=oKzVBgHqsis" target="_blank">innocent people can die too</a>.</p>
<p>Leetcode is a great way to learn DSA in an environment where failure is meaningless. You have thousands of problems with many suggestions for multiple potential solutions, and you're given hundreds or even thousands of test cases to test your solution against.  Grinding these is also just a great way to keep your skills sharp, and maybe even learn something new.</p>
<p>Do you remember the quote from the start of this article, and how I lied about the origin of the quote? The truth deserves to be known, and although I knew nothing about Ram Dass before writing this article, he deserves to be treated with respect and accurately credited for his work. The truth always deserves respect. It's no secret that <a href="https://www.youtube.com/watch?v=MticYPfFRp8" target="_blank">programming sucks</a> so hard for so many reasons, so let's make things suck a little bit less by following at least the most basic technical standard: <a href="https://en.wikipedia.org/wiki/Subjectivity_and_objectivity_(philosophy)" target="_blank">Objective Truth</a>. Start grinding, and become based my friends.</p>
<p>Happy coding,</p>
<p>AOP</p>
