<h1>H1 Test</h1>
<h2>H2 Test</h2>
<h3>H3 Test</h3>
<h4>H4 Test</h4>
<h5>H5 Test</h5>
<h6>H6 Test</h6>
<p>This is a paragraph. </p>
<p>This is a paragraph with a lot of text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>This paragraph has a <a href="#">hyperlink</a> in it.</p>
<p>This paragraph has <strong>bold</strong> text, <em>italic</em> text, and <strong><em>bold and italic</em></strong> text.</p>
<p><q>"This is a quote"</q> - Template Test</p>
<p class="rainbow_text">This is animated rainbow text.</p>
<p>This is <code>example code</code> in a normal sentence.</p>
<blockquote class="codeblock" data-language="pseudocode">
	<div><span data-type="keyword">function</span> <span data-type="main">main</span>(<span data-type="identifier">arg</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="constant">0x0123456789ABCDEF</span>;</div>
	<div>}</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">function</span> <span data-type="main">main</span>(<span data-type="identifier">arg</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="constant">0x0123456789ABCDEF</span>;</div>
	<div>}</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">function</span> <span data-type="main">main</span>(<span data-type="identifier">arg</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="constant">0x0123456789ABCDEF</span>;</div>
	<div>}</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">function</span> <span data-type="main">main</span>(<span data-type="identifier">arg</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="constant">0x0123456789ABCDEF</span>;</div>
	<div>}</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">function</span> <span data-type="main">main</span>(<span data-type="identifier">arg</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="constant">0x0123456789ABCDEF</span>;</div>
	<div>}</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">function</span> <span data-type="main">main</span>(<span data-type="identifier">arg</span>){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">return</span> <span data-type="constant">0x0123456789ABCDEF</span>;</div>
	<div>}</div>
</blockquote>

