<h1 class="page_title">Catgirls</h1>
<p>Catgirls are a superior species to humans, and therefore must be worshiped. Even since the days of Egypt, humans have recognized and embraced neko supremacy. Humans were placed on this Earth to create Genetically Engineered Catgirls for Domestic Ownership. Unfortunately, not many humans recognize their destiny, which has historically caused a lack of funding.<p/>
<p>Humans must learn to work together if we are ever going to achieve our collective destiny. With the power of God and anime on our side, I believe we have the power to make anime real, and to bring forth the genetically superior species that is the catgirl.</p>
<article>
	<h2 id="conservancy-of-catgirl-kind">Conservancy of Catgirl Kind</h2>
	<p>The <em>Conservancy of Catgirl Kind</em> (CoCK for short) is a project focused on documenting and preserving historical artifacts related to catgirls. This consists of things like historically significant catgirl artifacts, mentions of catgirls in pop culture, breakthroughs in research on Genetically Engineered Catgirls for Domestic Ownership, and many other things.</p>
	<p>The work of CoCK may be viewed <a href="{ROOT}catgirls/conservancy-of-catgirl-kind/">here</a>.</p>
</article>
