<p><strong>Published on <time datetime="2024-07-07">July 7th, 2024</time></strong></p>
<p>Of course I'm not talking about <em>your</em> website, I'm talking about all of these websites that use the same pre-approved pastel colors, or the massive WordPress spacing, or the massive WordPress footer that has more content than the actual web page. Think about every dark mode you've ever seen. They're all exactly the same thing with slightly different shades of grey and a different logo in the top left corner.<p>
<p>This is how <a href="https://developer.mozilla.org/en-US/" target="_blank">Mozilla Developer Network</a> looks for me right now:</p>
<img class="white_border" src="{ROOT}static/images/rants_fuck-your-stupid-website-design/mdn.webp" alt="MDN Dark Mode" title="MDN Dark Mode">
<p>Discord:</p>
<img class="white_border" src="{ROOT}static/images/rants_fuck-your-stupid-website-design/discord.webp" alt="Discord Dark Mode" title="Discord Dark Mode">
<p>Youtube:</p>
<img class="white_border" src="{ROOT}static/images/rants_fuck-your-stupid-website-design/youtube.webp" alt="Youtube Dark Mode" title="Youtube Dark Mode">
<p>Google:</p>
<img class="white_border" src="{ROOT}static/images/rants_fuck-your-stupid-website-design/google.webp" alt="Google Dark Mode" title="Google Dark Mode">
<p>Reddit:</p>
<img class="white_border" src="{ROOT}static/images/rants_fuck-your-stupid-website-design/reddit.webp" alt="Reddit Dark Mode" title="Reddit Dark Mode">
</p>White/grey text on a black/grey background with a blue accent looks decent, but why does almost every website do this and only this? It's no secret that blue is the <a href="https://psych.wisc.edu/news/bbc-future-why-your-favorite-colour-is-probably-blue/" target="_blank">most common favorite color</a>, so that's why almost every website uses blue as a primary color. Dark theme philosophy is also generally supportive of minimal colors, so many dark themes end up <em>only</em> using blue.<p>
<p>At least websites focused on user-generated content like Discord, Reddit, and Youtube have the advantage of adding additional color through the use of user profile pictures, and Discord was at least smart enough to let users pick name colors to make things less white on grey.</p>
<p>What happened to personality? What happened to risk? What happened to energy? What happened to branding? What happened to <em>art</em>?</p>
<h2 id="art">Art?</h2>
<p>Yes, art. In classic <a href="{ROOT}#who-am-i" target="_blank">AOP</a> fashion, let's start with a definition. According to Google, and by Google I mean Oxford, and by Oxford I mean <a href="https://www.encyclopedia.com/literature-and-arts/art-and-architecture/art-general/art-history" target="_blank">encyclopedia.com</a>, because encyclopedia.com provides the definition that Google showed me while crediting Oxford:</p>
<img src="{ROOT}static/images/rants_fuck-your-stupid-website-design/wtf-google.webp" alt="WTF Google" title="WTF Google">
<p>What the fuck, Google?</p>
<p>Anyway, the definition: <q cite="https://www.encyclopedia.com/literature-and-arts/art-and-architecture/art-general/art-history">"The expression or application of human creative skill and imagination, typically in a visual form such as painting or sculpture, producing works to be appreciated primarily for their beauty or emotional power"</q></p>
<p>Websites are <em>expressions</em> of <em>human creative skill and imagination</em> with <em>beauty</em> and <em>emotional appeal</em>.</p>
<p><a href="https://www.webdesignmuseum.org/" target="_blank">Old websites</a> make many people feel nostalgic.</p>
<svg xmlns="http://www.w3.org/2000/svg" height="60" width="100%" viewbox="0 0 675 60" style="max-width:675px;">
	<path id="bendy_text" fill="none" d="M 0,30 Q 60,60 90,30 t 130,0 130,0 60,0 90,0 200,0" />
	<text>
		<textPath href="#bendy_text">Bendy text is very creative and bendy. (I bet you didn't know this was possible)</textPath>
	</text>
</svg>
<p class="rainbow_text">Rainbow text is very gay and/or very colorful.</p>
<marquee>The <code><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee" target="_blank">&lt;marquee&gt;</a></code> element is deprecated, but many browsers still support it.</marquee>
<p><a href="https://en.wikipedia.org/wiki/Comic_Sans" target="_blank">Comic Sans</a>. (Sorry, I'm not buying the font just for this rant. Use your imagination)</p>
<p>I could go on and on and on because I am an artist. The webpage is my <code>&lt;canvas&gt;</code>, and HTML is my brush.</p>
<h2 id="i-just-want-to-get-paid-though">I Just Want To Get Paid Though</h2>
<p>Sure, there are entire classes of for-profit websites that only care about money. Look at SaaS companies. Look at corporate websites. Look at portfolio websites of junior front-end developers trying to get their first job. Look at your own website. What do many of these websites have in common? They use similar <a href="https://www.figma.com/blog/design-systems-101-what-is-a-design-system/" target="_blank">design systems</a>.</p>
<p><q>"How can we be using similar design systems if most of us don't even know what a design system is?"</q> you just asked. I heard you. Well, if you didn't build your own custom design system from scratch, you're using someone else's design system. Design systems aren't optional, they exist for every website whether they were intentionally planned out or not.</p>
<p>What do you think <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>, and other CSS frameworks are? They're design systems in a box. Sure, you can configure them to an extent, but how many front-end developers actually go further than changing a few colors? Let's look at <a href="https://tailwindcss.com/docs/installation" target="_blank">Tailwind's documentation</a>. There's a <a href="https://tailwindui.com/components" target="_blank">component library</a>, a <a href="https://tailwindui.com/templates" target="_blank
">template library</a>, recommended <a href="https://tailwindcss.com/docs/customizing-colors#default-color-palette" target="_blank">color palettes</a>, a recommended <a href="https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale" target="_blank">spacing scale</a>, and many other things. These are all core parts of a design system.</p>
<p>Many big companies build their own design systems and make them publicly available. Examples include Google's design system <a href="https://m3.material.io/" target="_blank">Material Design</a>, Apple's <a href="https://designsystems.surf/design-systems/apple" target="_blank">Human Interface Guide</a>, Microsoft's design system <a href="https://fluent2.microsoft.design/" target=:_blank">Fluent 2</a>, and even IBM's design system <a href="https://carbondesignsystem.com/" target="-blank">Carbon</a>.</p>
<h2 id="why-make-my-own-though">Why Make My Own Though?</h2>
<p>This is a good question. Design systems have many pieces, and take a lot of effort to imagine and document. IBM has done <a href="https://www.ibm.com/design/research/" targer="_blank">tons of research</a> on design. What's wrong with using a CSS framework, changing a few colors, and calling it a day? Smart people have spent way more money and time than us researching and testing optimal design. Who are we to tell them they are wrong?</p>
<p>This misses the entire point of art. There is no "optimal art". The most popular favorite color is blue, so why don't artists get rich selling blue squares in a picture frame? That's because art tells a story, and is inherently an expression of something. Every piece of art, including your website, tells a story whether you want it to or not.</p>
<p>For most companies, a website will be what new potential customers will use to form a first impression of the company. For a junior front-end dev, your portfolio website will likely be your first real chance to  tell your story and impress any potential employer. What kind of first impression is given when your website looks the same as everyone else's website? Another important note, using mostly defaults from a pre-made design system makes you look lazy or incompetent. It tells potential employers you're either unwilling or unable to put effort into your work.</p>
<h2 id="conclusiuon">Conclusion</h2>
<p>In the real world, you have to balance theory and expression. These soulless public design systems will be used by soulless or lazy people who will never achieve anything meaningful in life. Stop being lazy, and practice.</p>
<p>Grind.</p>
<p>Have you seen the kind of grind that traditional artists go through to master their craft? They spend years doing stuff like <a href="https://www.youtube.com/shorts/oyrUvzMuxlc" target="_blank">drawing 1,000 circles in one sitting</a>, <a href="https://www.youtube.com/watch?v=Mqat_PWMhN4" target="_blank">drawing 10,000 pieces in 1,000 days</a>, <a href="https://www.youtube.com/watch?v=CXnrHguWslU" target="_blank">drawing tons of figures</a> in addition to grinding theory, like <a href="https://www.youtube.com/watch?v=pAK0cvVQr_4" target="_blank">color theory</a>, accurate <a href="https://www.youtube.com/watch?v=1J7RQvKnWf4" target="_blank">proportions</a>, <a href="https://www.youtube.com/watch?v=8YA2-_A56dw" target="_blank">lighting</a>, <a href="https://www.youtube.com/watch?v=5lPfz3BFxCM" target="_blank">perspective</a>, and these are just the things I know of as someone who is not a traditional artist. And if you want to website design only for the money, ask traditional artists <a href="https://www.ziprecruiter.com/Salaries/Professional-Artist-Salary" target="_blank">how much they get paid</a> for years of grinding and hard work. The fact that making 6 figures as a front-end "engineer" is even a possibility is absolutely unreal and honestly quite disrespectful to traditional artists who have burning genuine passion for what they do. You should be incredibly grateful that this industry pays juniors better than even senior traditional artists.</p>
<p>Using an out-of-the-box design system is akin to traditional artists doing <a href="https://www.reddit.com/r/ArtistLounge/comments/17afu0k/what_counts_as_art_tracing/" target="_blank">tracing</a>. Tracing is an acceptable practice for the sake of learning, but it's heavily discouraged in a professional setting, and will destroy someone's professional reputation in an instant if they get caught doing it. This is because traditional artists have something called <em>professional standards</em>, which are non-existent for website design. The bar for professional standards in website design is so low that it's in the ninth circle of hell.</p>
<p>Try building literally anything out of the ordinary. Practice. Make your own path. Make something that looks like complete shit. Ask for feedback and do research into why it looks like complete shit, and then make something that only looks like 95% shit. Do this enough times to gain even a basic level of proficiency and you will be so incredibly far ahead of other front-end "engineers" that you can become a well-respected influencer in the space.</p>
<p>I'll even give you a pro tip right here, right now, free of charge. The easiest way to "be creative" is to get good at the basics, and then violate one or two core principles in a reasonable way that reinforce the expression of the art piece. For example, on this very website, I use pure black for the background. This is a big no-no in website design. I also use green instead of blue all over the place because I typically link to many external resources. But beyond just colors, including my catgirl obsession on this website full of technical advice is very unusual, and many people have told me it's a bad idea. But at the same time, many people remember who I am and what my website is <em>because of</em> my catgirl obsession. My catgirl obsession is one of my greatest strengths, and I will wear this obsession with pride.</p>
<p>Be yourself, and you will automatically be interesting. This is true of any piece of art.</p>
<p>Happy Grinding,</p>
<p>AOP</p>
