<h1 class="page_title">Rants</h1>
<p>This is a blog, except more angry.</p>
<div id="rants_container">
	<time datetime="2024-07-07">July 7th, 2024</time>
	<a href="{ROOT}rants/fuck-your-stupid-website-design/">Fuck Your Stupid Website Design</a>
	<time datetime="2024-06-22">June 22nd, 2024</time>
	<a href="{ROOT}rants/i-spent-8-hours-writing-quicksort-on-leetcode/">I Spent 8 Hours Writing Quicksort On Leetcode</a>
	<time datetime="2024-06-10">June 10th, 2024</time>
	<a href="{ROOT}rants/stop-doing-data-synchronization/">Stop Doing Data Synchronization</a>
</div>
