<p>Regardless of how your program gets the execution pass, your program begins execution at its <em>entry point</em>. On the hardware level, the entry point is just the memory address of the program's first instruction, but from the software's perspective this is either going to be the start of your file or a function called <code data-language="pseudocode" data-type="main">main</code>. In the example code, line 1 starts a <code data-language="pseudocode" data-type="main">main</code> function and line 5 ends it, but for languages that don't have a <code data-language="pseudocode" data-type="main">main</code> function, you can just imagine that lines 1 and 5 don't exist.</p>
<p>In the <a href="#1.6_the-execution-pass" target="_blank">earlier example code</a>, the entry point is the <code data-language="pseudocode" data-type="main">main</code> function, so the execution pass gets given to line 1.</p>
<p>Since declaring a function doesn't really do anything, the execution pass gets passed from line 1 to line 2.</p>
<p>Line 2 is a simple variable assignment, assigning the value of <code data-language="C" data-type="constant">0</code> to the integer variable <code data-language="C" data-type="identifier">i</code>. After this assignment is done, line 2 of the code is done executing and the execution pass gets handed to the next line, line 3.</p>
<p>Line 3 has no code, so the execution pass gets handed to line 4.</p>
<p>Line 4 increments variable <code data-language="C" data-type="identifier">i</code> so it now holds the value of <code data-language="C" data-type="constant">1</code>. Once the variable is done being incremented, line 4 is done executing and the execution pass gets handed to line 5.</p>
<p>Line 5 is the end of the <code data-language="pseudocode" data-type="main">main</code> function, which means there is no code left to execute. At this point, the program exits and the execution pass gets handed back to the operating system, which will now probably clean up the example program from memory and hold onto the execution pass until another program wants to be executed.</p>
