<p>What happens when you want to use the CPU to execute your program, but I'm already using the CPU to execute my program which will take a very long time to finish? If you think about it, a CPU can only really execute one instruction at a time, so only one of us can use it at a time. Also, because of the nature of synchronous code, our code is written in a way that assumes it won't get interrupted.<p>
<p>But let's just try the obvious idea. What if I stopped my program so you could run your program really quick, and then I could go back to running my program again? What's the worst that could happen?</p>
<p>Suppose my program started printing out <code>Hello, World!</code> but only got out <code>Hello,&nbsp;</code> before starting on a lot of really slow calculations. At this point, I stop my program, let you use the CPU, and your program prints the text <code>Race Condition!</code> to the screen and then exits quickly. In the end, the screen would show <code>Hello, Race Condition!</code> That's not good.</p>
<p>What if we did the next obvious thing and just cleared the screen before running your program? Your program would properly display <code>Race Condition!</code>, but after clearing the screen again and resuming my program, the screen would only show <code>World!</code> when my program finishes. This doesn't work either.</p>
<p>This is called a <em>race condition</em>, and race conditions are why we can really only execute one synchronous program at a time. This limitation is called <em>blocking</em> the CPU, because when one program is being executed by a CPU, it is blocking all other programs from being executed by that same CPU.</p>
<p>One last note before moving on, this example would probably never happen in real life. This example is meant to be easy to visualize and understand. Real race conditions are usually invisible, extremely inconsistent, and are notoriously hard to detect and fix. If you've never felt the pain of troubleshooting a race condition, consider yourself lucky.</p>
