<p>This isn't exactly a part of an operating system, but is more of an absolute truth that's just based on how hardware works. Say for the sake of argument that you have a CPU with a single CPU core and was clocked at 3 GHz; that means you have a single execution engine capable of executing 3 billion instructions per second. However, 3 billion instructions get executed every second by that CPU core, even if there is nothing to execute! This means the CPU is basically stuck in a <code>while(!hasWorkToDo){}</code> loop. So how does the CPU avoid being under 100% load all of the time while still being responsive when something happens?</p>
<p>Most every CPU instruction set architecture (ISA) will have a halt inutruction built in, called <a href="https://en.wikipedia.org/wiki/HLT_(x86_instruction)" target="_blank">HLT</a>. Although the wiki page explicitly refers to x86, every ISA should have a comparable instruction. Anyway, this instruction is basically a <code>sleep(0)</code> for that CPU core. But how does the core know when to wake back up when something happens? Well, the hardware tells the core when something happens by sending it an event. This can be expressed with the following pseudocode:</p>
<blockquote class="codeblock" data-language="pseudocode">
<div><span data-type="keyword">async</span> <span data-type="identifier">do_task_scheduling</span>(){</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">let</span> <span data-type="identifier">active_threads</span> <span data-type="identifier">= get_active_threads</span>();</div>
<div>&nbsp;</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">if</span>(<span data-type="identifier">len</span>(<span data-type="identifier">active_threads</span>) &lt; <span data-type="constant">1</span>){</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">do_assembly_instruction</span>(<span data-type="constant">"HLT"</span>);</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
<div>&nbsp;</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">pick_and_execute_thread</span>(<span data-type="identifier">active_threads</span>);</div>
<div>}</div>
</blockquote>
<p>When the <code>HLT</code> assembly instruction is executed, the CPU core stops executing and takes a little nap. This means that the execution pass for that execution engine can't be handed out to anything until the hardware timer wakes up the CPU core again. When a hardware event is triggered that wakes up the CPU core and the execution engine starts executing again, the execution pass doesn't go back to line 5 of the example. Instead, the execution pass gets handed to an ISR in the kernel and the execution engine starts executing kernel code from there.</p>
