<p>You might be wondering "If an operating system already has all of this stuff built in, then why do runtimes even exist?" This is a great question, and honestly it took me a while to figure out what the difference is. An operating system is, well, a system for operating the computer. An operating system has many responsibilities including managing processes, dealing with hardware, dealing with ACPI/UEFI, etc.</p>
<p>On the other hand, a runtime is responsible only for helping a single program execute. Runtimes are significantly more varied in scope, functionality, and interface, runtimes can sometimes be much more efficiently than an operating system for certain tasks, and larger runtimes typically change how a programming language work on a fundamental level.</p>
<p>However, most runtimes have some things in common:</p>
