<p>C# looks way too verbose to use in an example, so I'm using pseudocode that will hopefully be more familiar to everyone.</p>
<blockquote class="codeblock" data-language="pseudocode">
	<div><span data-type="keyword">async</span> <span data-type="identifier">i_cant_wake_up</span>(){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">await</span> <span data-type="identifier">sleep_seconds</span>(<span data-type="constant">99999999999999999</span>);</div>
	<div>}</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">async</span> <span data-type="identifier">wake_me_up_inside</span>(){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">await</span> <span data-type="identifier">i_cant_wake_up</span>();</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">do_important_stuff</span>();</div>
	<div>}</div>
	<div>&nbsp;</div>
	<div><span data-type="keyword">async</span> <span data-type="main">main</span>(){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">await</span> <span data-type="identifier">wake_me_up_inside</span>();</div>
	<div>}</div>
</blockquote>
<p>Yes, <a href="https://www.youtube.com/watch?v=3YxaaGgTQYM&t=63s" target="_blank">that Evanescence song</a> was about async this whole time.</p>
<p>Anyway, let's follow the code and see what's happening. The entry point is the <code data-language="pseudocode" data-type="main">main</code> function, so the execution pass gets handed to <code data-language="pseudocode" data-type="main">main</code>.</p>
<p><code data-language="pseudocode" data-type="main">main</code> immediately gives the execution pass to the function <code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code> immediately gives the execution pass to the function <code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code> immediately gives the execution pass to the function <code data-language="pseudocode" data-type="identifier">sleep_seconds</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">sleep_seconds</code> blocks the entire program for 3.2 billion years (<code data-language="pseudocode" data-type="constant">99999999999999999</code> seconds).</p>
<p>As soon as any blocking is awaited, the execution pass gets handed back up the call stack through all of the async functions, so:</p>
<p><code data-language="pseudocode" data-type="identifier">sleep_seconds</code> hands the execution pass back to <code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code> is marked as async, so it hands the execution pass back to <code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code> is marked as async, so it hands the execution pass back to <code data-language="pseudocode" data-type="main">main</code>.</p>
<p><code data-language="pseudocode" data-type="main">main</code> is the entry point, and is marked as async. This means that the execution pass gets handed back to the operating system (or the runtime, but that's next chapter).</p>
<p>Now, this is a problem. Nobody has time to wait 3.2 billion years for their important work to get done, so this is why we made everything async. Why isn't it working? Well, there's one more very important part of the async equation.</p>
