<p>Quoting the C# language specification from above, <q cite="https://ecma-international.org/wp-content/uploads/ECMA-334_5th_edition_december_2017.pdf">"The await operator is used to suspend evaluation of the enclosing async function until the asynchronous operation represented by the operand has completed."</q> In other words, <code>await foo()</code> can only exist inside of a function declared with the async keyword. When the awaited <code>foo()</code> encounters a blocking operation, it causes all of the awaiting async functions above it on the call stack to temporarily suspend execution until <code>foo()</code> is able to unblock, at which time the call stack is resumed.</p>
<p>This is a lot of words, so let's go into an example.</p>
