<h1 class="page_title">A Book On x86_64</h1>
<p><strong>These are old notes that may not be accurate! This required a massive amount of research that I didn't have time for, but I will return to this some day.</strong></p>
<nav>
	<h2>Table of Contents</h2>
	<ul>
		<li>
			<a href="#important-stuff">0) Important Stuff, Please Read</a>
			<ul>
				<li>
					<a href="#important-stuff_disclaimer">0.1) Disclaimer</a>
				</li>
				<li>
					<a href="#important-stuff_why-learn-x86_64">0.2) Why Learn x86_64?</a>
				</li>
				<li>
					<a href="#important-stuff_references">0.3) References</a>
					<ul>
						<li>
							<a href="#important-stuff_references_naming">0.3.1) Naming</a>
						</li>
						<li>
							<a href="#important-stuff_references_x86_64-instruction-encoding-flowchart">0.3.2) x86_64 Instruction Encoding Flowchart</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#important-stuff_resources">0.4) Resources</a>
					<ul>
						<li>
							<a href="#important-stuff_resources_x86_64-manuals_amd64-manual">0.4.1) AMD64 Manual</a>
						</li>
						<li>
							<a href="#important-stuff_resources_x86_64-manuals_intel-reg-64-manual">0.4.2) Intel&reg; 64 Manual</a>
						</li>
						<li>
							<a href="#important-stuff_resources_x86_64-manuals_felix-cloutier">0.4.3) Felix Cloutier</a>
						</li>
						<li>
							<a href="#important-stuff_resources_x86_64-manuals_agner-fog">0.4.4) Agner Fog</a>
						</li>
						<li>
							<a href="#important-stuff_resources_x86_64-manuals_uops-info">0.4.5) uops.info</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="#x86_64-environment">1) x86_64 Environment</a>
			<ul>
				<li>
					<a href="#x86_64-environment_starting-point">1.1) Starting Point</a>
				</li>
				<li>
					<a href="#x86_64-environment_x86_64-cpu-modes">1.2) x86_64 CPU Modes</a>
				</li>
				<li>
					<a href="#x86_64-environment_long-mode">1.3) Long Mode</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#parts-of-an-instruction">2) Parts of an Instruction</a>
			<ul>
				<li>
					<a href="#parts-of-an-instruction_opcode">2.1) Opcode</a>
				</li>
				<li>
					<a href="#parts-of-an-instruction_prefixes">2.2) Prefixes</a>
					<ul>
						<li>
							<a href="#parts-of-an-instruction_prefixes_operand-size-override">2.2.1) Legacy - Operand-Size Override</a>
						</li>
						<li>
							<a href="#parts-of-an-instruction_prefixes_address-size-override">2.2.2) Legacy - Address-Size Override</a>
						</li>
						<li>
							<a href="#parts-of-an-instruction_prefixes_segment-override">2.2.3) Legacy - Segment-Override</a>
						</li>
						<li>
							<a href="#parts-of-an-instruction_prefixes_lock">2.2.4) Legacy - Lock</a>
						</li>
						<li>
							<a href="#parts-of-an-instruction_prefixes_repeat">2.2.5) Legacy - Repeat</a>
						</li>
						<li>
							<a href="#parts-of-an-instruction_prefixes_rex">2.2.6) REX</a>
						</li>
						<li>
							<a href="#parts-of-an-instruction_prefixes_vex_and_xop">2.2.7) VEX and XOP</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#parts-of-an-instruction_mod_rm">2.3) ModRM</a>
				</li>
				<li>
					<a href="#parts-of-an-instruction_mod_rm">2.4) SIB</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
<section>
	<h2 id="important-stuff">0) Important Stuff, Please Read</h2>
	<article>
		<h3 id="important-stuff_disclaimer">0.1) Disclaimer</h3>
		<p><strong>DISCLAIMER:</strong> This book is <i>not</i> gospel, the <i>The AMD64 Architecture Programmer's Manual</i> is gospel. The <i>Intel&reg; 64 and IA-32 Architecture Software Developer's Manual</i> is also gospel, although slightly different than the AMD manual (this will be elaborated on further later).</p>
		<p>This book is simply my summarized understanding of x86_64, and I am sharing this in an attempt to help others understand the x86_64 architecture. Although I would like for this book to be as accurate as possible, there will likely be mistakes, errors, and omissions made in this book.</p>
		<p><strong>DO NOT</strong> do something stupid and try to blame it on me. Instead, do something stupid and blame it on the gospel.</p>
	</article>
	<article>
		<h3 id="important-stuff_why-learn-x86_64">0.2) Why Learn x86_64?</h3>
		<p>For the most part, x86_64 is the CPU architecture that runs the modern world of computing. Every single programming language has to get translated down to machine code to run on x86_64 CPUs. Understanding the x86_64 architecture is critical for understanding how to write performant code that runs on these machines.</p>
		<p>x86_64 is also quite a complex architecture, which includes many features that are not really used or understood by the vast majority of developers, or even systems developers. These would make excellent targets for security research.</p>
		<p>Another great reason is that it will give you a lot of insight into the code of how your computer works. A lot of the function of the bootloader and kernel are dependnt on the CPU architecture, so understanding even a basic overview of the CPU architecture can provide great insight into many non-obvious things that can harm performance.</p>
		<p>Lastly, I want to mention that knowledge and understanding helps ensure freedom and transparency. The more people who actually understand how the x86_64 architecture works, the more eyes and minds there are working together in this space to help hold each other accountable and imagine great new innovations. This is perhaps the greatest reason to learn the x86_64 architecture.</p>
	</article>
	<section>
		<h3 id="important-stuff_references">0.3) References</h3>
		<article>
			<h4 id="important-stuff_references_naming">0.3.1) Naming</h4>
			<p>Unfortunately, before we can even talk about x86_64, we first have to define what x86_64 even is. Unfortunately, there have been many x86-related architectures and names over the years. To provide clarity, I have generated the following flowchart. Note that the blue text is hyperlinked in the SVG file.</p>
			<p><a href="{ROOT}static/x86_64-book-naming.dot">Graphviz File</a></p>
			<a href="{ROOT}static/x86_64-book-naming.svg" target="_blank">
				<img alt="x86_64 naming flowchart" title="x86_64 naming flowchart" src="{ROOT}static/x86_64-book-naming.svg">
			</a>
			<p>Some notes:</p>
			<ul>
				<li>The term x86 is incredibly ambiguous these days. It is most often used to refer to IA-32, however it has also been used to other things, such as the entire x86 CPU lineage between today and the original Intel 8086, made in 1978. To avoid confusion, I simply left this term out of the above flowchart.</li>
				<li>AMD64 is the canonical version of x86_64. Intel&reg; 64 came afterwards and is <a href="https://en.wikipedia.org/wiki/X86-64#Differences_between_AMD64_and_Intel_64" target="_blank">a little bit different</a> than AMD64, but the term x86_64 is used to describe either since they are mostly identical.</li>
				<li>A Taiwanese company named <a href="https://en.wikipedia.org/wiki/VIA_Technologies" target="_blank">VIA Technology</a> created a line of CPUs called the <a href="https://en.wikipedia.org/wiki/VIA_Nano" target="_blank">VIA Nano</a>. It is difficult to find detailed information on these CPUs, however they seem to have a certain amount of compatability with x86 and x86_64. Based on what little information I have found about these CPUs, they do appear to stray from the AMD64 and Intel&reg; 64 specifications quite a lot, and therefore the contents of this book may not be accurate for these CPUs.</li>
			<p>
		</article>
		<article>
			<h4 id="important-stuff_references_x86_64-instruction-encoding-flowchart">0.3.2) x86_64 Instruction Encoding Flowchart</h4>
			<a href="instruction-encoding-flowchart.png" target="_blank">
				<img src="{ROOT}static/x86_64-book-instruction-encoding-flowchart.png" alt="x86_64 instruction encoding flow chart" title="x86_64 instruction encoding flow chart">
			</a>
			<p>The above flowchart is a screenshot from Page 2 of Volume 3 of the AMD64 manual.</p>
		</article>
	</section>
	<article>
		<h3 id="important-stuff_resources">0.4) Resources</h3>
		<article>
			<h4 id="important-stuff_resources_x86_64-manuals_amd64-manual">0.4.1) AMD64 Manual</h4>
			<p>First and foremost is the <a href="https://www.amd.com/content/dam/amd/en/documents/processor-tech-docs/programmer-references/40332.pdf">AMD64 manual</a>. This manual is very long, and consists of 5 volumes:</p>
			<ol>
				<li>Application Programming - Introduces many concepts you will probably want to know for any serious assembly programming.</li>
				<li>Systems Programming - Explains how to manage the CPU and do other bootloader/kernel/OS level stuff. There is a lot of black magic here.</li>
				<li>General-Purpose and System Instructions - Explains instruction encoding and provides a reference for the base x86_64 instructions and opcodes.</li>
				<li>128-Bit and 256-Bit Media Instructions - SIMD. Also AES instructions in Appendix A for some reason.</li>
				<li>64-Bit Media and x87 Floating-Point Instructions - Probably worse SIMD and floating points</li>
			</ol>
			<p>This is <i>the</i> manual, and should be treated as gospel.</p>
		</article>
		<article>
			<h4 id="important-stuff_resources_x86_64-manuals_intel-reg-64-manual">0.4.2) Intel&reg; 64 Manual</h4>
			<p>Almost as important, the <a href="https://software.intel.com/en-us/download/intel-64-and-ia-32-architectures-sdm-combined-volumes-1-2a-2b-2c-2d-3a-3b-3c-3d-and-4" target="_blank">Intel&reg; 64 manual</a>. Anecdotally, this manual is harder to understand than the AMD64 manual.</p>
			<p>This manual is divided into 4 volumes:</p>
			<ol>
				<li>Basic Architecture - Provides a "basic" overview of the x86_64 architecture. Basic is an extremely subjective term here.</li>
				<li>Instruction Reference- Explains instruction encoding and provides a reference for the instructions. Also has a chapter on proprietary instructions.</li>
				<li>System Programming Guide - Explains how to manage the CPU and do other bootloader/kernel/OS level stuff. There is also a lot of black magic here.</li>
				<li>Model Specific Registers - Important for the voodoo in volume 3.</li>
			</ol>
			<p>This is also <i>the</i> manual, and should also be treated as gospel.</p>
		</article>
		<article>
			<h4 id="important-stuff_resources_x86_64-manuals_felix-cloutier">0.4.3) Felix Cloutier</h4>
			<p><a href="https://www.felixcloutier.com/x86" target="_blank">Felix Cloutier's website</a> is a very popular and convenient online resource for x86_64 instructions.</p>
			<p>Please also read and understand the disclaimer on his website, which states in part "<i>It may be enough to replace the official documentation on your weekend reverse engineering project, but for anything where money is at stake, go get the official and freely available documentation.</i>"</p>
			<p>This is <i>not</i> the manual, and should not be treated as gospel.</p>
		</article>
		<article>
			<h4 id="important-stuff_resources_x86_64-manuals_agner-fog">0.4.4) Agner Fog</h4>
			<p><a href="https://agner.org" target="_blank">Agner Fog</a> is a computer scientist who is an associate professor of computer science at the Technical University of Denmark, according to his <a href="https://en.wikipedia.org/wiki/Agner_Fog" target="_blank">Wikipedia page</a>.</p>
			<p>His website contains (among other things) an entire section dedicated to software optimizations, including writing in assembly. He also provides documents explaining many complex details about CPU micro-architectures as well as provides a list of his own instruction timing benchmarks for Intel, AMD, and VIA CPUs.</p>
			<p>This is <i>not</i> the manual, and should not be treated as gospel.</p>
		</article>
		<article>
			<h4 id="important-stuff_resources_x86_64-manuals_uops-info">0.4.5) uops.info</h4>
			<p><a href="https://uops.info" target="_blank">uops.info</a> is an online resource documenting various timing-related metrics on CPU instructions that can be used for optimizations. Note that their database only contains Intel CPUs.</p>
			<p>This is <i>not</i> the manual, and should not be treated as gospel.</p>
		</article>
	</article>
</section>
<section>
	<h2 id="x86_64-environment">1) x86_64 Environment</h2>
	<article>
		<h3 id="x86_64-environment_starting-point">1.1) Starting Point</h3>
		<p>x86_64 CPUs have many different operating modes, and a number of complex "runtime configurations". For this summary to make any sense, we need to start from the beginning.</p>
		<p>Many things mentioned in this section have a significant amount of detail that is not really necessary to understand x86_64, and will therefore be left out for the sake of clarity. If you want all of the nuance and details, I will provide various "details" links in this section that give that more detailed information.</p>
		<p>When a system is first powered on (<a href="https://superuser.com/a/294736" target="_blank">details</a>), the CPU starts in what is called "real mode", which means it is effectively operating as the original Intel 8086 CPU created all the way back in 1978. This environment has many capabilities and responsibilities depending on whether the machine is booted in UEFI mode (<a href="https://wiki.osdev.org/UEFI" target="_blank">details</a>) or "Legacy Boot" BIOS Mode (<a href="https://wiki.osdev.org/BIOS" target="_blank">details</a>). While in real mode, the CPU will typically execute a special program called a bootloader (<a href="https://en.wikipedia.org/wiki/Bootloader" target="_blank">details</a>) to perform various tasks to help set up and configure the system (<a href="https://wiki.osdev.org/Rolling_Your_Own_Bootloader" target="_blank">details</a>). The last task of a bootloader is to load and execute the kernel (<a href="https://wiki.osdev.org/Creating_an_Operating_System">details</a>).</p>
		<p>At some point during the above process (typically in the bootloader), the CPU will be upgraded to what is called "protected mode". Protected mode is a 32-bit operating mode defined by IA-32, and is commonly referred to as x86. After entering protected mode, it is typical for the bootloader to jump execution to the kernel. Once the kernel begins executing, it will typically not wait long before doing some required setup (<a href="https://wiki.osdev.org/Setting_Up_Long_Mode" target="_blank">details</a>) and upgrade again to the final CPU mode called "long mode".</p>
		<p>Long mode is the 64-bit mode that is commonly referred to as x86_64. We will go into detail about long mode later in this chapter.</p>
	</article>
	<article>
		<h3 id="x86_64-environment_x86_64-cpu-modes">1.2) x86_64 CPU Modes</h3>
	</article>
	<article>
		<h3 id="x86_64-environment_long-mode">1.3) Long Mode</h3>
	</article>
</section>
<section>
	<h2 id="parts-of-an-instruction">2) Parts of an Instruction</h2>
	<p>x86_64 instructions may have many different parts to them. The order in which the instruction parts are listed is not at all related to the order in which they appear in the instruction encoding; instead I list the parts in an order that is likely to be easiest to understand. x86_64 is a <i>complex</i> instruction set, so understanding the basics before the hard parts is absolutely vital.</p>
	<article>
		<h3 id="parts-of-an-instruction_opcode">2.1) Opcode</h3>
		<p>First and foremost is the instruction opcode. The opcode denotes the actual operation that is being requested of the CPU. Instructions will only have a single opcode each, and opcodes will generally be 1 byte in size, however an opcode can be up to 3 bytes long. Some simple examples are:</p>
		<ul>
			<li><code>0x90</code> is the opcode for <code>NOP</code>, which performs no operation.</li>
			<li><code>0xF3 0x90</code> is the opcode for <code>PAUSE</code>, which optimizes spin loops.</li>
			<li><code>0x0F 0x05</code> is the opcode for <code>SYSCALL</code>, which performs a syscall.</li>
		</ul>
		<p>Note that some instructions, such as <code>MOV</code>, have many different opcodes depending on what type of move you are wanting. This will be elaborated on more later.</p>
		<article>
			<h3 id="parts-of-an-instruction_prefixes">2.2) Prefixes</h3>
			<p>The next most important part of an instruction is its prefixes. Prefixes will often times modify many parts of an opcode, including changing the types of operands it takes, the sizes of operants, require additional bytes to be encoded into the instruction, etc. The so called "Legacy prefixes" are pretty simple, however the additional prefixes added in x86_64 (REX, VEX, XOP) are quite complex.</p>
			<p>All legacy prefixes are 1 byte, as well as the REX prefix. The VEX and XOP may be either 2 or 3 bytes long. A single instruction can have up to 5 prefixes, 4 "legacy prefixes" and one additional REX, VEX, or XOP prefix. These prefixes are explained in further detail in the following sub chapters.</p>
			<p>Another important explanation, code examples in this section may contain <code>----</code>. This is simply imaginary spacing that I add to make bytes line up between different instructions, so the differences stand out more. For example:</p>
			<p><code>0x01 0x02 0x03 0x04 0x06</code> Imaginary instruction 1</p>
			<p><code>0x02 0x03 0x05</code> Imaginary Instruction 2</p>
			<p>It is difficult to easily look at these 2 lines and easily tell which parts are the same and which parts are different.</p>
			<p><code>0x01 0x02 0x03 0x04 ---- 0x06</code> Imaginary instruction 1</p>
			<p><code>---- 0x02 0x03 ---- 0x05 ----</code> Imaginary Instruction 2</p>
			<p>It is much eaiser to see the similarities and differences between the two.</p>
		</article>
		<article>
			<h4 id="parts-of-an-instruction_prefixes_operand-size-override">2.2.1) Legacy - Operand-Size Override</h4>
			<p>This legacy prefix is denoted with the byte <code>0x66</code>. In 64-bit mode, this prefix is used to tell an opcode that is being given 16-bit operands instead of the normal 32-bit operands. Unfortunately, the topic of operand sizing is complicated on x86_64, and there are different mechanisms for specifying different operand sizes. That means that this prefix is only used for this very specific case.</p>
			<p>Here is an example of this prefix in action using a <code>MOV</code> opcode <code>0xB8</code>:</p>
			<p><code>---- 0xB8 0x00 0x00 0x00 0x00</code> moves the four <code>0x00</code> bytes into the <code>eax</code> register.</p>
			<p><code>0x66 0xB8 0x00 0x00 ---- ----</code> moves the two <code>0x00</code> bytes into the <code>ax</code> register.</p>
		</article>
		<article>
			<h4 id="parts-of-an-instruction_prefixes_address-size-override">2.2.2) Legacy - Address-Size Override</h4>
			<p>This legacy prefix is denoted with the byte <code>0x67</code>. In 64-bit mode, this prefix is used to denote that a register holding a memory address id 32-bits rather than 64-bits. For example:</p>
			<p><code>---- 0x8A 0x00</code> is a <code>MOV</code> instruction saying to dereference the memory address stored in <code>rax</code> and store the result in <code>al</code>.</p>
			<p><code>0x67 0x8A 0x00</code> is a <code>MOV</code> instruction saying to dereference the memory address stored in <code>eax</code> and store the result in <code>al</code>.</p>
			<p>I'm not sure how this would be useful in x86_64, and from what little I can find about this prefix, its use is discouraged.</p>
		</article>
		<article>
			<h4 id="parts-of-an-instruction_prefixes_segment-override">2.2.3) Legacy - Segment-Override</h4>
			<p>There are a total of 6 different segments, each of which have a different prefix byte:</p>
			<ul>
				<li><code>0x2E</code> is the prefix byte for the <code>CS</code> segment</li>
				<li><code>0x3E</code> is the prefix byte for the <code>DS</code> segment</li>
				<li><code>0x26</code> is the prefix byte for the <code>ES</code> segment</li>
				<li><code>0x64</code> is the prefix byte for the <code>FS</code> segment</li>
				<li><code>0x65</code> is the prefix byte for the <code>GS</code> segment</li>
				<li><code>0x36</code> is the prefix byte for the <code>SS</code> segment</li>
			</ul>
			<p>There is actually a lot of misunderstanding about segments and 64-bit mode. According to the <a href="https://www.kernel.org/doc/html/next/x86/x86_64/fsgs.html" target="_blank">Linux kernel documentation</a>, the <code>FS</code> segment is generally used for <a href="https://en.wikipedia.org/wiki/Thread-local_storage" target="_blank">Thread Local Storage</a>, and the <code>GS</code> segment is free for the application to use as it pleases.</p>
			<p>The other 4 segments are not available in 64-bit mode <i>unless</i> a CPU feature called "Upper Address Ignore" is enabled. This CPU feature is documented in the <a href="https://www.amd.com/content/dam/amd/en/documents/processor-tech-docs/programmer-references/40332.pdf" target="_blank">The AMD64 Architecture Programmer's Manual</a> Volume 2 Chapter 5 Section 10. It is not very likely that this CPU feature will be enabled unless you enable it yourself, so the <code>CS</code>, <code>DS</code>, <code>ES</code>, and <code>SS</code> segments will likely not be available in x86_64 unless you explicitly allow them.</p>
			<p>Here is an example regarding the <code>FS</code> segment:</p>
			<p>For the sake of the example, say that there is a variable named <code>var</code> that exists at memory address 0 relative to the <code>FS</code> segment.</p>
			<p><code>---- 0x8B 0x04 0x25 0x00 0x00 0x00 0x00</code> is the instruction that loads the memory address of <code>var</code> into <code>eax</code>.</p>
			<p><code>0x64 0x8B 0x04 0x25 0x00 0x00 0x00 0x00</code> is the instruction that loads the memory address of <code>var</code> relative to the <code>FS</code> segment into <code>eax</code>.</p>
		</article>
		<article>
			<h4 id="parts-of-an-instruction_prefixes_lock">2.2.4) Legacy - Lock</h4>
			<p>This legacy prefix is denoted with the byte <code>0xF0</code>. In 64-bit mode, this prefix is used to atomically change values in memory, which is important for <a href="https://en.wikipedia.org/wiki/Non-blocking_algorithm#Lock-freedom" target="_Blank">lock-free algorithms</a>. Note that because this prefix only modifies values in memory, it can only be used with instructions that operate on memory.</p>
			<p>Here is an example of the lock prefix:</p>
			<p>For the purposes of this example, iassume that <code>RAX</code> holds a memory address to a variable that is going to be incremented.</p>
			<p><code>---- 0xFF 0x00</code> is the instruction that uses the <code>INC</code> opcode on the value pointed to by the memory address held in <code>RAX</code>.</p>
			<p><code>0xF0 0xFF 0x00</code> is the instruction that atomically uses the <code>INC</code> opcode on the value pointed to by the memory address held in <code>RAX</code>.</p>
		</article>
		<article>
			<h4 id="parts-of-an-instruction_prefixes_repeat">2.2.5) Legacy - Repeat</h4>
			<p>This legacy prefix has 3 variants:</p>
			<ul>
				<li><code>0xF3</code> is the prefix byte for <code>REP</code>, which repeats a string operation until <code>RCX</code> is <code>0</code>.</li>
				<li><code>0xF3</code> is the also prefix byte for <code>REPE/REPZ</code>, which repeats a string operation until <code>RCX</code> is <code>0</code> or the zero flag is <code>0</code>.</li>
				<li><code>0xF2</code> is the prefix byte for <code>REPNE/REPNZ</code>, which repeats a string operation until <code>RCX</code> is <code>0</code> or the zero flag is <code>1</code>.</li>
			</ul>
			<p>The <code>REP</code> prefix is used for string operations that involve some kind of memory copying, while the other prefixes are used for memory comparison instructions. An example:</p>
			<p><code>---- 0xA4</code> is the instruction that uses the <code>MOVSB</code> opcode to copy a single byte from the memory address stored in <code>RSI</code> to the memory address stored in <code>RDI</code>, then increments <code>RSI</code> and <code>RDI</code>.</p>
			<p><code>0xF3 0xA4</code> is the instruction that uses the <code>MOVSB</code> opcode to copy a single byte from the memory address stored in <code>RSI</code> to the memory address stored in <code>RDI</code>, then increments <code>RSI</code> and <code>RDI</code>. Bceause of the <code>REP</code> prefix, <code>RCX</code> is then decremented. This process is repeated until <code>RCX</code> becomes <code>0</code>.</p>
			<p>Another example with <code>REPNE</code>:</p>
			<p><code>---- 0xA6</code> is the instruction that uses the <code>CMPSB</code> opcode to compare a single byte from the the memory addresses stored in <code>RSI</code> and <code>RDI</code>, then increments <code>RSI</code> and <code>RDI</code>, then sets the zero flag to <code>1</code> if the bytes are equal or <code>0</code> if not.</p>
			<p><code>0xF2 0xA6</code> is the instruction that uses the <code>CMPSB</code> opcode to compare a single byte from the the memory addresses stored in <code>RSI</code> and <code>RDI</code>, then increments <code>RSI</code> and <code>RDI</code>, then sets the zero flag to <code>1</code> if the bytes are equal or <code>0</code> if not. Because of the <code>REPNE</code> prefix, <code>RCX</code> is then decremented. This operation repeats until <code>RCX</code> is <code>0</code> or the zero flag is <code>1</code>.</p>
		</article>
		<article>
			<h4 id="parts-of-an-instruction_prefixes_rex">2.2.6) REX</h4>
			<p>Based on many factors, I am thinking that the REX prefix is where most people throw their hands up and go "x86_64 is too hard, I give up", and this is for good reason! The REX prefix actually does many different things packaged together in a single instruction, and requires understanding a handful of things that have not yet been explained.</p>
			<p>Because of the complexity and further prerequisite knowledge required to understand th REX prefix, we will actually go into it in much greater detail later. For now, jsut know that this prefix exists, and generally enables opcodes to work with 64-bit registers and values.</p>
		</article>
		<article>
			<h4 id="parts-of-an-instruction_prefixes_vex_and_xop">1.2.7) VEX and XOP</h4>
			<p>These prefixes are also quite complex, so these prefixes will also be documented later. Generally speaking, they are used for <a href="https://en.wikipedia.org/wiki/Single_instruction,_multiple_data" target="_blank">SIMD instructions</a>, such as SSE and AVX.</p>
		</article>
	</article>
	<article>
		<h3 id="parts-of-an-instruction_mod_rm">2.3) ModRM</h3>
		<p>The ModRM byte is optional and depends on the opcode.</p>
	</article>
	<article>
		<h3 id="parts-of-an-instruction_sib">2.4) SIB</h3>
		<p>The SIB byte stands for "Scale, Index, Base". If you've done assembly programming in AT&amp;T syntax, this will probably sound familiar to you.</p>
	</article>
</section>
