<p>Even the most senior software engineers often struggle with mastering techniques like non-blocking code, using async/await properly, and doing multithreading safely without sacrificing performance. But who can blame them? Information on these topics is lacking and all over the place. Informational resources assume you already have some amount of understanding, explain only a single part of the big picture, and often get details wrong! These techniques are hard because they require a fundamental shift in how we think about computing.</p>
<p>Allow me to take you on a not-so-gentle journey through the hellscape of fearful concurrency, the academia of lock-free thread safety, and then finally the ascension beyond skill issue.</p>
