<p>If the async and await keywords can turn synchronous code into asynchronous code, futures are how you turn asynchronous code back into synchronous code.</p>
<p>Let's look at the example code after adding futures:</p>
<blockquote class="codeblock" data-language="pseudocode">
<div><span data-type="keyword">async</span> <span data-type="identifier">i_cant_wake_up</span>(){</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">await</span> <span data-type="identifier">sleep_seconds</span>(<span data-type="constant">99999999999999999</span>);</div>
<div>}</div>
<div>&nbsp;</div>
<div><span data-type="identifier">wake_me_up_inside</span>(){</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">future</span> = <span data-type="identifier">i_cant_wake_up</span>();</div>
<div>&nbsp;</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">do_important_stuff</span>();</div>
<div>&nbsp;</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">while</span>(!<span data-type="identifier">future</span>.done){</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">sleep</span>(<span data-type="constant">0</span>);</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;}</div>
<div>}</div>
<div>&nbsp;</div>
<div><span data-type="main">main</span>(){</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">wake_me_up_inside</span>();</div>
<div>}</div>
</blockquote>
<p>Notice that <code data-language="pseudocode" data-type="main">main</code> and <code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code> are no longer marked as async, and <code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code> is no longer being awaited by <code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code>.</p>
<p>Let's go through this new example code step by step to see what is happening.</p>
<p>The entry point is the <code data-language="pseudocode" data-type="main">main</code> function, so the execution pass gets handed to <code data-language="pseudocode" data-type="main">main</code>.</p>
<p><code data-language="pseudocode" data-type="main">main</code> immediately gives the execution pass to the function <code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code> immediately gives the execution pass to the function <code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code> immediately gives the execution pass to the function <code data-language="pseudocode" data-type="identifier">sleep_seconds</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">sleep_seconds</code> blocks the entire program for 3.2 billion years (<code data-language="pseudocode" data-type="constant">99999999999999999</code> seconds).</p>
<p>As soon as any blocking is awaited, the execution pass gets handed back up the call stack through all of the async functions, so:</p>
<p><code data-language="pseudocode" data-type="identifier">sleep_seconds</code> hands the execution pass back to <code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code>.</p>
<p><code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code> is marked as async, so it hands the execution pass back to...</p>
<p><strong>Wait, this part is different.</strong> <code data-language="pseudocode" data-type="identifier">wake_me_up_inside</code> is no longer marked async, so <code data-language="pseudocode" data-type="identifier">i_cant_wake_up</code> returns a future, which is assigned to the <code data-language="pseudocode" data-type="identifier">future</code> variable on line 6. Line 6 is done executing after this variable assignment, so the execution pass gets passed down to line 7.</p>
<p>Line 7 is a blank line, so the execution pass gets handed down to line 8.</p>
<p>Line 8 calls the function <code data-language="pseudocode" data-type="identifier">do_important_stuff</code>. For the sake of this example, we'll assume this important stuff gets done correctly and quickly. Line 8 is done executing, so the execution pass gets handed down to line 9.</p>
<p>Line 9 is a blank line, so the execution pass gets handed to line 10.</p>
<p>Lines 10 through 12 contain a while loop, where as long as the <code data-language="pseudocode" data-type="identifier">future</code> is not done yet, the program calls <code data-language="pseudocode" data-type="identifier">sleep</code> with an argument of <code data-language="pseudocode" data-type="constant">0</code>. Sleeping for <code data-language="pseudocode" data-type="constant">0</code> seconds is an easy way to do cooperative multitasking. This is basically telling the operating system "I don't have anything to do, so take my execution pass to do other stuff and give it back to me at any point in the future".</p>
<p>This means that we will still end up waiting 3.2 billion years for the program to end... But the important stuff got done first! Remember that async doesn't avoid waiting entirely, it simply allows the program to multitask while it's waiting.</p>
<p>Now, many of you might think that this looping behavior on lines 10 through 12 is very strange because popular async languages like Python, JS, and Go don't do this. In fact, many popular async languages will deadlock if you do what we did on lines 10 through 12, but this is where runtimes come in. Runtimes require a whole chapter of their own.</p>
