<p>When you execute a program, the program is copied from the disk into RAM, where it gets executed. The copy of the program that's in RAM is called a <em>process</em>. In programming terms, think of the program as a <code>class{ }</code> definition, and think of the process as an instance of <code>new class()</code>.</p>
<p>To the CPU, this process is a giant list of single instructions that need to be executed one at a time until the process asks the kernel to <code>exit</code> it. This seems pretty straightforward, right? Well, there are plenty of situations where you will want a single process to spawn multiple processes that work together. For example, think about your web browser of choice. Look at how many processes that thing has. It's a lot.</p>
<p>But what about threads? Threads are simply a more lightweight version of a process, although on modern systems there are only a handful of differences between processes and threads. One of the more notable differences is that threads have almost no memory isolation from the process that spawned it (parent process) as well as any child threads. If you declare a global variable in the parent process or any of the child threads, that parent process and any of the threads can access that global variable.</p>
<p>Threads are also called <em>operating system threads</em>, <em>OS Threads</em>, or <em>native threads</em>.</p> 
