<p>Let's pretend for a moment that we're going to make a simple chatroom. To keep it simple, let's say there are only two features: allow the user to send messages, and display messages from other users.</p>
<p>With an example synchronous chatroom, a simple implementation might be to check for messages from other users, and then after receiving one or more messages from other users the implementation would allow the user to send a message. However, since this is synchronous, the program will block until one or more other users send one or more messages, which means that the user can't send any messages until they receive a message from someone else first. Now, let's say the user finally receives a message and gets unblocked, now it's the user's turn to send a message. The program will now block on the user sending a message, which means that the program would be unable to receive new messages until the user sends a message.</p>
<p>It's not hard to tell that this design sucks.</p>
<p>Now compare this to an example asynchronous implementation. The program would check to see if any messages have been received, and then display any messages that have been received. It doesn't matter if zero messages or one million messages were received, the program doesn't block waiting for new messages. Next, the program would check for any messages waiting to be sent from the user. Again, it doesn't matter if the user provided zero messages or one million messages, the program doesn't sit and wait for user input before moving on. Next, the program will go back to checking if any messages have been received, and this pattern will repeat until the user closes the chatroom.</p>
<p>This works how we expect a chatroom to work.</p>
