@font-face {
	font-family: "Crimson Pro";
	font-display: swap;
	src:
		url("{ROOT}/static/CrimsonPro-Regular.woff2") format('woff2');
}

@font-face{
	font-family: "Crimson Pro";
	font-display: swap;
	font-weight: 700;
	src:
		url("{ROOT}/static/CrimsonPro-Bold.woff2") format('woff2');
}

@font-face {
	font-family: "Crimson Pro";
	font-display: swap;
	font-style: italic;
	src:
		url("{ROOT}/static/CrimsonPro-Italic.woff2") format('woff2');
}

@font-face {
	font-family: "Crimson Pro";
	font-display: swap;
	font-style: italic;
	font-weight: 700;
	src:
		url("{ROOT}/static/CrimsonPro-BoldItalic.woff2") format('woff2');
}



@font-face {
	font-family: "Charka Petch";
	font-display: swap;
	src:
		url("{ROOT}/static/ChakraPetch-Regular.woff2") format('woff2');
}

@font-face{
	font-family: "Charka Petch";
	font-display: swap;
	font-weight: 700;
	src:
		url("{ROOT}/static/ChakraPetch-Bold.woff2") format('woff2');
}

@font-face {
	font-family: "Charka Petch";
	font-display: swap;
	font-style: italic;
	src:
		url("{ROOT}/static/ChakraPetch-Italic.woff2") format('woff2');
}

@font-face {
	font-family: "Charka Petch";
	font-display: swap;
	font-style: italic;
	font-weight: 700;
	src:
		url("{ROOT}/static/ChakraPetch-BoldItalic.woff2") format('woff2');
}


