<p>
	<q>"In an industry that settles for mediocrity, those who refuse to settle are considered brave. Are you willing to be brave?"</q>
</p>
<article>
	<h2 id="who-am-i">Who Am I?</h2>
	<p>I go by <strong>Alpha Omega Programmer</strong>, but you can all me <strong>AOP</strong> for short. I prefer to stay <a href="https://en.wikipedia.org/wiki/Pseudonymization" target="_blank">pseudonymous</a>.</p>
	<p>I'm a senior software engineer who is obsessed with catgirls and technology. I'm also interested in more normal things like anime, touching grass, going to the gym, and not socializing, but these details are boring and nobody cares. You're either here for catgirls or for tech.</p>
</article>
<article>
	<h2 id="why-the-name">Why The Name?</h2>
	<p>Many people assume I've chosen this name becuase I'm a narcissistic asshole. While I'm happy to play the part, that's not why I chose this name. Much like the real <a href="https://www.britannica.com/topic/Alpha-and-Omega" target="_blank">Alpha and Omega</a>, programmers shape reality in the context of their software. Thie requires a certain degree of care that I acknowledge and embrace. Besides, most programmers have a little bit of a <a href="https://en.wikipedia.org/wiki/God_complex" target="_blank">God complex</a>, I'm just not afraid to admit it.</p>
</article>
<article>
	<h2 id="gitlab">Thank You, GitLab</h2>
	<p>I want to take a moment to thank GitLab for their free <a href="https://docs.gitlab.com/ee/user/project/pages" target="_blank">pages service</a>, which allows me to host this website for free and with no effort. <a href="https://about.gitlab.com/company" target="_blank">GitLab is open source</a>, and you should be using GitLab over <a href="https://news.microsoft.com/announcement/microsoft-acquires-github" target="_blank">certain other services</a> if you care at all about software freedom.</p>
</article>
<article>
	<h2>Misc</h2>
	<p><a href="{ROOT}template-test/" target="_blank">Template Test</a></p>
	<p><a href="{ROOT}x86_64-book/" target="_blank">Archived x86_64 Book/Notes</a></p>
</article>
