<p>Runtimes are very tricky, and unfortunately runtimes vary quite a lot. I'd like to start this chapter by going over what a runtime is, but sadly there is no simple definition. There are many different programming languages with many different design decisions, and these differences cause every language to implement their runtimes differently. There is so much variety that some languages don't even have a runtime out of the box, so you have to deal with 3rd party runtimes or make your own!</p>
<p>For languages that are either interpreted (JavaScript, Python, etc) or otherwise run on some kind of <a href="https://en.wikipedia.org/wiki/Virtual_machine#Process_virtual_machines">VM</a> (C#, Java), runtimes are typically built into the interpreter or VM and can be interacted with directly by the program.</p>
<p>For languages that are compiled and executed natively, these runtimes are usually implemented as software libraries that are used and managed directly by the program.</p>
<p>Some languages like Go or Elixir are special because they follow academic paradigms like <a href="https://en.wikipedia.org/wiki/Communicating_sequential_processes" target="_blank">CSP</a> or <a href="https://en.wikipedia.org/wiki/Actor_model" target="_blank">The Actor Model</a> respectively. These languages work completely differently, and therefore handle async and multithreading completely differently.</p>
<p>The only sensible place to start is with the original runtime: The operating system.</p>
