<p>Now that we understand the idea of the execution pass, we can understand what the point of <em>asynchronous</em> code is, and how it actually works. Forget about the language keywords for now.</p>
<p>Do you remember the <a href="#1.3_the-blocking-problem" target="_blank">Blocking Problem</a>? The problem is that, without some kind of multitasking system, one program blocks the entire CPU and prevents other programs from executing. Async is a similar concept, except within one program. One part of your code might get the execution pass and then block for a long time, which prevents the rest of your code from executing. There are even scenarios where a line of code might hold the execution pass forever, which means your program will stop executing entirely. This is called a <em>deadlock</em>.</p>
