<p>We've been talking about execution from the perspective of the hardware up until now. We're software developers, not hardware... hardware developers? Is that what they're called?</p>
<p>Anyway, let's look at some example pseudocode that's definitely not C:</p>
<blockquote class="codeblock" data-language="C">
	<div><span data-type="keyword">void</span> <span data-type="main">main</span>(){</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="keyword">int</span> <span data-type="identifier">i</span> = <span data-type="constant">0</span>;</div>
	<div>&nbsp;</div>
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<span data-type="identifier">i</span>++;</div>
	<div>}</div>
</blockquote>
<p>Now, imagine something called <em>the execution pass</em>. Visualize the execution pass as a slip of paper that gives a line of code permission to execute. Once that line of code is finished executing, it hands the execution pass to the next line of code, until there are no more lines of code.</p>
<p>Back to the example code, the first important thing to note is that code isn't always executing. In fact, the above example code can never be executed. You can copy/paste this code into a new file, compile and execute that code, but this example code on this page can never be executed. This is obvious, but why is this the case? We have to think about where the execution pass comes from.</p>
