<p>So far, it seems like a CPU core will just execute whatever is handed to it, and this is true from a hardware perspective. But from the software's perspective, how a system does <a href="#1.4_cpu-multitasking-and-the-birth-of-async" target="_blank">multitasking</a> has a massive impact on where the execution pass comes from.</p>
<p>On systems with no multitasking, the execution pass is given to your program by the CPU core as soon as your program starts being executed.</p>
<p>On systems with cooperative multitasking, the execution pass comes from other programs running on the CPU core, or the CPU core itself if your program is the first to execute. Remember that your program needs to explicitly give up the execution pass to other programs running on the system.</p>
<p>On systems with preemptive multitasking, the operating system is periodically given the execution pass by the hardware. How the hardware does this is very complicated and <a href="https://wiki.osdev.org/Timer_Interrupt_Sources" target="_blank">outside of the scope of this article</a>, but the important part is that all programs running within operating systems are given the execution pass by the operating system.</p>
<p>This also means that your program will periodically have the execution pass taken away and given back with every context switch. The timing of a context switch depends entirely on the hardware and how the operating system configures it, so it's impossible for you as a programmer to try to work around these context switches. However, since context switches have no side effects, there is no potential to corrupt your code, so the only real impact context switching has on your program is performance.</p>
<p>Although we can't control or plan around context switching directly, there are still strategies we can use to minimize performance impacts on our programs. Context switching doesn't have much impact on async code, but there is a massive impact on multithreaded code, which we'll get into later. For now, let's get back to the example code.</p>
