<h2 class="page_title">Books</h2>
<p>I am writing books to share much of the esoteric knowledge I've pieced together throughout my career.</p>
<p>These books are licensed under CC0, meaning you are free to use them in any way you want. If you want to use these books or their contents to make money, you have my full encouragement. All I ask in return is that you consider donating a portion of the profits to open source projects that you believe in.</p>
<p><a href="{ROOT}books/stop-sucking-at-async-and-threading/" target="_blank">DRAFT - Stop Sucking At Async & Threading</a></p>

